html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  font-family: "微軟正黑體";
}
h2 {
  font-size: 24px;
  color: #555;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.wrap {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  height: 24px;
  width: 98px;
  vertical-align: center;
}
.logo span {
  color: #d90845;
  padding-right: 180px;
  padding-left: 10px;
}
.navbar-nav .nav-item .nav-link a {
  text-decoration: none;
}
.navbar-nav .nav-item .nav-link a:hover {
  color: #d90845;
}

body {
  --swiper-theme-color: #e66ea0;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
}
.container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

[class^="col-"] {
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.col-1 {
  width: 8.3333%;
}
.col-2 {
  width: 16.6666%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333%;
}
.col-5 {
  width: 41.666%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.3333%;
}
.col-8 {
  width: 66.6666%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.3333%;
}
.col-11 {
  width: 91.6666%;
}
.col-12 {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .col-sm-1 {
    width: 8.3333%;
  }
  .col-sm-2 {
    width: 16.6666%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33333%;
  }
  .col-sm-5 {
    width: 41.666%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.3333%;
  }
  .col-sm-8 {
    width: 66.6666%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.3333%;
  }
  .col-sm-11 {
    width: 91.6666%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .col-lg-1 {
    width: 8.3333%;
  }
  .col-lg-2 {
    width: 16.6666%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33333%;
  }
  .col-lg-5 {
    width: 41.666%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.3333%;
  }
  .col-lg-8 {
    width: 66.6666%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.3333%;
  }
  .col-lg-11 {
    width: 91.6666%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .col-xl-1 {
    width: 8.3333%;
  }
  .col-xl-2 {
    width: 16.6666%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.33333%;
  }
  .col-xl-5 {
    width: 41.666%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.3333%;
  }
  .col-xl-8 {
    width: 66.6666%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.3333%;
  }
  .col-xl-11 {
    width: 91.6666%;
  }
  .col-xl-12 {
    width: 100%;
  }
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding-right: -15px;
  padding-left: -15px;
}

.sub-content img {
  width: 100%;
}
.feature-section,
.refer,
.info,
.footer {
  background-color: #f7f7f7;
}

.feature-section h3 {
  font-size: 24px;
  color: #555;
  padding-top: 10px;
  line-height: 30px;
  padding-bottom: 10px;
  text-align: center;
}
.feature-section p {
  line-height: 25px;
  color: #333;
  text-align: center;
}

.card img {
  width: 100%;
}
.card-text {
  padding: 20px;
}
.card-text h4 {
  font-size: 18px;
  font-weight: 700;
  color: #666;
  line-height: 25px;
  padding-bottom: 15px;
  padding-top: 10px;
}
.card span {
  border: 1px solid #d90845;
  background-color: #d90845;
  border-radius: 3px;
  color: #fff;
  padding: 3px;
  margin-bottom: 5px;
  display: inline-block;
}
.card-text p {
  font-size: 14px;
  color: #666;
}
.card .time {
  border: 1px solid #ddd;
  background-color: #ddd;
  border-radius: 3px;
  color: #666;
  padding: 5px;
  display: inline-block;
  margin-left: 10px;
  font-weight: 800;
}

.card-sec {
  padding-bottom: 26px;
}
.lecture-button {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.lecture-button a {
  border: 1px solid #d90845;
  background-color: #d90845;
  border-radius: 3px;
  color: #fff;
  padding: 15px 50px;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}
.lecture-button a:hover {
  color: #000;
  text-decoration: none;
}

.referrer img {
  border-radius: 50%;
  padding-right: 40px;
}
.text p {
  font-size: 16px;
  color: #555;
  line-height: 24px;
  padding-bottom: 15px;
}
.text h5 {
  color: #d90845;
  font-size: 20px;
  padding-bottom: 10px;
  font-weight: bold;
}
.text span {
  color: #888;
  font-size: 18px;
}
.swipe-container {
  width: 960px;
}
.know-about-us {
  text-align: center;
  font-size: 18px;
  line-height: 50px;
  padding-bottom: 80px;
}
.know-about-us a {
  text-decoration: none;
  color: #d90845;
}
.know-about-us img {
  padding-right: 30px;
  padding-top: 20px;
}
.info {
  padding: 20px 0 20px 20px;
}
.info li a {
  text-decoration: none;
  display: inline-block;
  color: #666;
  line-height: 20px;
  padding-top: 15px;
}

.info li a:hover {
  color: #d90845;
}

.contact i {
  padding-right: 8px;
}
.info-detail i {
  padding-right: 8px;
}
.info b {
  font-weight: bolder;
}
.footer {
  text-align: center;
  color: #666;
  padding-top: 20px;
  padding-bottom: 40px;
}
.scrollup {
  position: fixed;
  background: #fff;
  border: 1px solid #dededea8;
  color: #d90845;
  border-radius: 50%;
  bottom: 1.5rem;
  right: 1.25rem;
  text-align: center;
}
.scrollup a {
  display: block;
  padding: 10px;
}
